
    body {
    background-image: url("images/PortfolioBackGroundGarage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Futura, sans-serif;
    font-weight: bold;
}

.rb22-car {
    position: fixed;
    bottom: 5%;
    left: 30%;
    transform: translateX(-50%);
    z-index: 10;
}

footer {
    color: rgb(255, 221, 0);
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: fit-content;
}

nav a {
    transition: all 0.3s ease;
}

nav a:hover {
    transform: translateY(-3px);
}